# ==============================================================================
# scrapy.cfg
# Configures the Scrapy project settings module
# ==============================================================================

[settings]
default = settings

[deploy]
project = examudaan
